/* ==UserStyle==
@name         dictcc
@description  .
@namespace    samswartzberg.com
@author       Sam Swartzberg
@preprocessor stylus
@updateURL    https://raw.githubusercontent.com/SamuelSwartzberg/web-enhancements/main/css/dictcc.css
@version      1.0.0
==/UserStyle== */

@-moz-document domain("dict.cc") {
  #maincontent>img+div, #inotherlangs {
    display: none;
  }
  #maincontent {
    margin: 0 auto !important;
    max-width: 50em;
    overflow: hidden;
    padding: 0;
    width: unset !important;
  }
  #maincontent>* {
    width: 100%;
  }
  #maincontent>table {
    table-layout: auto !important;
  }
}