/* ==UserStyle==
@name         oxfordreference
@description  .
@namespace    samswartzberg.com
@author       Sam Swartzberg
@preprocessor stylus
@version      1.0.0
@updateURL    https://https://raw.githubusercontent.com/SamuelSwartzberg/web-enhancements/main/css/oxfordereference.css
==/UserStyle== */

@-moz-document domain("oxfordreference.com") {
  #columnOne, #topControls, #footerWrap, #headerWrap, .pagetitlePagelinks {
    display: none;
  }
  #contentWrapper {
    width: auto;
  }
  #mainContent {
    margin: 0 auto;
    padding: 0 1em;
    width: auto;
    max-width: 50em;
    float: none;
  }
}