#footwork-container{
  display: grid;
  grid-template-rows: repeat(var(--rows), 400px);
  grid-template-columns: repeat(var(--columns), 200px);
}
.foot{
  --grid-row: 1;
  --grid-column: 1;
  --angle: 0deg;
  --movement-x: 0;
  --movement-y: 0;
  grid-row: var(--grid-row);
  grid-column: var(--grid-column);
  transform: rotate(var(--angle)) translateX(var(--movement-x)) translateY(var(--movement-y));
}
#right-foot{
    --grid-column: 2;
}
.color #left-foot{
  fill: #00a;
}
.color #right-foot{
  fill: #a00;
}
.transition .foot{
  transition: all 1s;
}
.weight path{
  stroke: rgb(255,135,23);
stroke-width: 0.01px;
}
svg{
  overflow: visible;
}
